# git+https://github.com/facebook/fbthrift.git#subdirectory=thrift/lib/py/
# git+https://github.com/pinterest/thrift-tools
# tensorflow ; python_version > "3"
absl-py
aiofiles
aiohttp[speedups] ; python_version > "3"
# apache-flink ; python_version > "3"
bqplot
click >= 7.1.2 ; python_version < "3"
click >= 8.1.3 ; python_version > "3"
clip-client ; python_version > "3"
clip-server ; python_version > "3"
cmakelang ; python_version > "3"
cryptography
deepdiff
dynaconf[all]
fastapi[all] ; python_version > "3"
geojson
gevent >= 21.12.0
GitPython
giturlparse
gpxpy
grpcio>=1.51.1 ; python_version > "3"
icalendar
icecream >= 2.1.3
id-validator >= 1.0.20 ; python_version > "3"
ipykernel >= 4.10.1 ; python_version < "3"
ipykernel >= 6.15.1 ; python_version > "3"
ipyleaflet >= 0.17.0 ; python_version > "3"
ipywidgets >= 7.7.1
jieba
jinja2 >= 2.11.3 ; python_version < "3"
jinja2 >= 3.1.2 ; python_version > "3"
kafka-python >= 2.0.2
kazoo
licenseheaders ; python_version > "3"
lxml >= 4.9.1
lz4 >= 4.0.2 ; python_version > "3"
matplotlib >= 2.2.5 ; python_version < "3"
matplotlib >= 3.5.3 ; python_version > "3"
memray ; python_version > "3"
msgpack
numpy ; python_version < "3"
numpy >= 1.23.5 ; python_version > "3"
opencc
pandas >= 0.24.2 ; python_version < "3"
pandas >= 1.4.3 ; python_version > "3"
parse >= 1.19.0
pipdeptree
plotly >= 4.14.3 ; python_version < "3"
plotly >= 5.10.0 ; python_version > "3"
prefect >= 2.0.4 ; python_version > "3"
prefect-dask ; python_version > "3"
psutil
pydantic ; python_version > "3"
pydantic_yaml ; python_version > "3"
pyfiglet
PyGithub
pymongo
PyMySQL
pynacl
pypinyin
pysnooper
PySocks
pyspark[sql]
pytest
python-consul
python-dateutil
pytz
requests
rich ; python_version > "3"
scikit-learn
scrapy
seaborn
selenium
six
sqlmodel ; python_version > "3"
srtm.py
thrift
thriftpy2
tornado
tqdm
typer[all]
virtualenv
voila
yapf
zhdate
