absl-py
deepdiff
dynaconf[all]
GitPython
giturlparse
icalendar
id-validator >= 1.0.20 ; python_version > "3"
jinja2 >= 2.11.3 ; python_version < "3"
jinja2 >= 3.1.2 ; python_version > "3"
licenseheaders ; python_version > "3"
lxml >= 4.9.1
memray ; python_version > "3"
opencc
parse >= 1.19.0
pipdeptree
prefect >= 2.0.4 ; python_version > "3"
prefect-dask ; python_version > "3"
psutil
pydantic ; python_version > "3"
pydantic_yaml ; python_version > "3"
PyGithub
pypinyin
pytest
python-dateutil
pytz
scrapy
selenium ; python_version > "3"
six
virtualenv
zhdate

#################### cli utils ####################
pyfiglet
tqdm
typer[all]
rich ; python_version > "3"
click >= 7.1.2 ; python_version < "3"
click >= 8.1.3 ; python_version > "3"

#################### draw && jupyter ####################
bqplot
graphviz
ipykernel >= 4.10.1 ; python_version < "3"
ipykernel >= 6.15.1 ; python_version > "3"
ipywidgets >= 7.7.1
# plotly >= 4.14.3 ; python_version < "3"
plotly >= 5.10.0 ; python_version > "3"
# matplotlib >= 2.2.5 ; python_version < "3"
matplotlib >= 3.5.3 ; python_version > "3"
seaborn
# voila

#################### data science && math tools ####################
numpy ; python_version < "3"
numpy >= 1.21.6 ; python_version > "3"
pandas >= 0.24.2 ; python_version < "3"
pandas >= 1.4.3 ; python_version > "3"
jieba
scikit-learn ; python_version > "3"
clip-client ; python_version > "3"
# clip-server ; python_version > "3"
# tensorflow >= 2.11.0 ; python_version > "3"

#################### map && gps ####################
gpxpy
ipyleaflet >= 0.17.0 ; python_version > "3"
srtm.py
geojson

#################### network && rpc && web ####################
PySocks
requests
tornado
msgpack
aiofiles
aiohttp[speedups] ; python_version > "3"
fastapi[all] ; python_version > "3"
gevent >= 21.12.0
thrift
thriftpy2
grpcio>=1.51.1 ; python_version > "3"
# git+https://github.com/facebook/fbthrift.git#subdirectory=thrift/lib/py/
# git+https://github.com/pinterest/thrift-tools

#################### crypto && compress ####################
cryptography
lz4 >= 4.0.2 ; python_version > "3"
pynacl

#################### large scale data ####################
pymongo
PyMySQL
sqlmodel ; python_version > "3"
python-consul
kafka-python >= 2.0.2
kazoo
pyspark[sql] >= 3.3.0 ; python_version > "3"
# apache-flink >= 1.16.0 ; python_version > "3"

#################### logging && debug ####################
icecream >= 2.1.3
pysnooper

#################### code formatter ####################
cmakelang ; python_version > "3"
yapf
